.App {
  text-align: center;
}
body{
  background-color: #EFEFEF;
}
.title{
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  color: #112B3C;
}


.wrapper {
  display: inline-block;
}

.wrapper table {
	border-style: none;
	/*border-collapse: collapse;*/
  /*display: block;*/
}

.dev-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: block;
}

.row-list{
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
}
ul {
  list-style-type: none;
}
.container-list{
  display: block;

  margin: 20px 60px;

  border: 1px solid #EFEFEF;
}
.li-row-span{
  padding: 0px 10px;
}
.form-Title{
  
    align-items: center;
    display: flex;

}